version: '3'

services:

  miniserve:
    image: svenstaro/miniserve@sha256:853dec63a8f187d90ef07f1f904f2070d3235b03c383e741cf0504863eed5d4d
    command: /public
    volumes:
      - /var/volumes/syncthing/public:/public:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.public-files.rule=Host(`public.rknt.de`)"
      - "traefik.http.routers.public-files.entrypoints=websecure"
      - "traefik.http.routers.public-files.tls.certresolver=myresolver"
      - "traefik.http.services.public-files.loadbalancer.server.port=8080"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
