version: '3'

services:
  server:
    image: drone/drone:2@sha256:c6ea444dadba5cc1cb65f6ce1b2cb62fe72cd30a17d741db15aea4b13d706fd6
    volumes:
      - /var/volumes/drone:/data
    environment: 
      - DRONE_GITHUB_CLIENT_ID=${DRONE_GITHUB_CLIENT_ID}
      - DRONE_GITHUB_CLIENT_SECRET=${DRONE_GITHUB_CLIENT_SECRET}
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
      - DRONE_DATABASE_SECRET=${DRONE_DATABASE_SECRET}
      - DRONE_SERVER_HOST=drone.rknt.de
      - DRONE_SERVER_PROTO=http
      - DRONE_USER_CREATE=username:erkannt,admin:true
      - DRONE_USER_FILTER=erkannt
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.drone.rule=Host(`drone.rknt.de`)"
      - "traefik.http.services.drone.loadbalancer.server.port=80"
      - "traefik.http.routers.drone.entrypoints=websecure"
      - "traefik.http.routers.drone.tls.certresolver=myresolver"
    restart: unless-stopped
  
  runner:
    image: drone/drone-runner-docker:1@sha256:9479ddc50e50c205f4508e2062f7dbc757822c7b05ab93de0b8378d97214279b
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DRONE_RPC_PROTO=https
      - DRONE_RPC_HOST=drone.rknt.de
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
      - DRONE_RUNNER_CAPACITY=2
      - DRONE_RUNNER_NAME=rknt.de
    ports:
      - 3000:3000
    restart: unless-stopped

networks:
  traefik:
    external: true
