version: '3'

services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
    environment:
      - AUDIOBOOKSHELF_UID=99
      - AUDIOBOOKSHELF_GID=100
      - TZ=Europe/London
    volumes:
      - /var/volumes/airsonic/music:/audiobooks
      - /var/volumes/audiobookshelf/config:/config
      - /var/volumes/audiobookshelf/metadata:/metadata
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.audiobooks.rule=Host(`audiobooks.rknt.de`)"
      - "traefik.http.routers.audiobooks.entrypoints=websecure"
      - "traefik.http.routers.audiobooks.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
