version: '3'

services:
  restic:
    image: restic/restic@sha256:b43f00a24d9b2d9affb332a29d57042563eeb61219ae1a36dfccbdc34fbaa6b3
    volumes:
      - /var/volumes:/volumes
    environment:
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - RESTIC_REPOSITORY=${RESTIC_REPOSITORY}
      - AWS_ACCESS_KEY_ID=${RESTIC_S3_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${RESTIC_S3_SECRET_ACCESS_KEY}
    entrypoint: |
      ash -c 'ash -s <<EOF
      apk add curl
      trap "break;exit" SIGHUP SIGINT SIGTERM

      echo "`date` restic init..."
      restic init

      while /bin/true; do
        echo "`date` starting backup..."
        restic backup --exclude /volumes/airsonic /volumes \
        && curl ${BACKUP_HEALTHCHECK_URL}
        sleep 3600
      done

      EOF'
    restart: unless-stopped
