version: "3.7"
services:
  picoshare:
    image: mtlynch/picoshare@sha256:880f8dad37fe68f6d34920c6edd4675b4dd3d5122c548e1d17d793b2f2ec939d
    volumes:
      - /var/volumes/picoshare:/data
    environment:
      - PORT=80
      - PS_SHARED_SECRET=${PS_SHARED_SECRET}
    command: -db /data/store.db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sharing.rule=Host(`sharing.rknt.de`)"
      - "traefik.http.routers.sharing.entrypoints=websecure"
      - "traefik.http.services.sharing.loadbalancer.server.port=80"
      - "traefik.http.routers.sharing.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
