version: '3'
services:
  syncthing:
    image: syncthing/syncthing@sha256:6d2ab058383b533e045cf2c32fc4c6bbe87c612c92bc2aca9f552fb099b2e123
    container_name: syncthing
    hostname: rknt.de
    environment:
      - PUID=1000
      - PGID=1002
    volumes:
      - /var/volumes/syncthing:/var/syncthing
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syncthing.rule=Host(`sync.rknt.de`)"
      - "traefik.http.routers.syncthing.entrypoints=websecure"
      - "traefik.http.routers.syncthing.tls.certresolver=myresolver"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
