version: "3"

services:
  website:
    image: "nginx:1-alpine@sha256:a45ee5d042aaa9e81e013f97ae40c3dda26fbe98f22b6251acdf28e579560d55"
    volumes:
      - /var/volumes/website-bucket/rknt.de:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`rknt.de`)"
      - "traefik.http.routers.website.entrypoints=websecure"
      - "traefik.http.routers.website.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

  tools:
    image: "nginx:1-alpine@sha256:a45ee5d042aaa9e81e013f97ae40c3dda26fbe98f22b6251acdf28e579560d55"
    volumes:
      - /var/volumes/website-bucket/tools:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tools.rule=Host(`tools.rknt.de`)"
      - "traefik.http.routers.tools.entrypoints=websecure"
      - "traefik.http.routers.tools.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

  python-exercises:
    image: "nginx:1-alpine@sha256:a45ee5d042aaa9e81e013f97ae40c3dda26fbe98f22b6251acdf28e579560d55"
    volumes:
      - /var/volumes/website-bucket/python-exercises:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.python-exercises.rule=Host(`python-exercises.rknt.de`)"
      - "traefik.http.routers.python-exercises.entrypoints=websecure"
      - "traefik.http.routers.python-exercises.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

  freunde-preview:
    image: "nginx:1-alpine@sha256:a45ee5d042aaa9e81e013f97ae40c3dda26fbe98f22b6251acdf28e579560d55"
    volumes:
      - /var/volumes/website-bucket/freunde-preview:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.freunde-preview.rule=Host(`freunde-preview.rknt.de`)"
      - "traefik.http.routers.freunde-preview.entrypoints=websecure"
      - "traefik.http.routers.freunde-preview.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

  minio:
    image: minio/minio@sha256:67372776c114dec0ad0f2b6b4dc1ad538be659cecb227b1ba719e81e823c06d5
    volumes:
      - /var/volumes/website-bucket:/data
    environment:
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio-website.rule=Host(`website.minio.rknt.de`)"
      - "traefik.http.routers.minio-website.entrypoints=websecure"
      - "traefik.http.routers.minio-website.tls.certresolver=myresolver"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
